body {
    font-family: Arial, sans-serif;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

/* Adicione estas linhas ao seu CSS */
#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#copyButton {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#copyButton:hover {
    opacity: 0.8;
}

/* Adicione estas linhas ao seu CSS */
#lastResults {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}